:root {
	--primary-color: #5858C7;
	--secondary-color: #E06D63;
	--sun-one: #edc655;
	--sun-two: #FCFFAD;
	--sun-three: #f76414;
	--dark-grey: #2b2b2b;
	--text-color: #C2AA42;
}


* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
	border-bottom: 1.5px solid lightgrey;
}

.page-header__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

body {
	font-family: 'Stick No Bills', sans-serif;
	font-weight: 400;
	color: var(--text-color);
	text-align: center;
}

.interests {
	list-style-type: none;
	padding: 20px;
}

a {
	color: var(--text-color);
}


a:visited {
	/* visited link */
	color: var(--text-color);
}

a:hover, a:focus {
	/* no underlining when hovered over */
	text-decoration: none;
}

a:active {
	/* selected link */
	color: var(--secondary-color);
}

nav {
	line-height: 1.2;
}


.profile {
	max-width: 700px;
	margin: 0 auto;
}

.contact-info {
	line-height: 1.5;
}

.profile__portrait {
	float: left;
	width: 250px;
	margin-right: 40px;
	margin-bottom: 20px;
	border-radius: 40%;
}

.button, button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: var(--primary-color);
	color: var(--dark-grey);
	text-decoration: none;
	padding: 5px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.9s opacity;
	transition: 0.9s opacity;
}

button: hover,
button: focus,
.button: hover,
.button: focus, {
	cursor: pointer;
	opacity: 0.8;
}

.button_secondary {
	background-color: var(--secondary-color);
	color: var(--dark-grey);
}

.experience-table {
	text-align: center;
	padding: 20px;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 20px;
	padding: 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	border-top: 1.5px solid lightgrey;
}

.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.grid__item {
	background-color: lightgray;
}

@media all and (max-width: 500px) {
	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}
@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
	}
}
@media all and (max-width: 750px) {
	.grid {
		grid-gap: 10px;
	}
		.grid__item: last-child {
		grid-column: auto / auto;
		grid-row: auto-auto;
	}
	h1 {
		font-size: 22px;
	}
}

@-webkit-keyframes color-change {
	0% {
		fill: var(--sun-one);
	}
	50% {
		fill: var(--sun-two);
	}
	100% {
		fill: var(--sun-three);
	}
}

@keyframes color-change {
	0% {
		fill: var(--sun-one);
	}
	50% {
		fill: var(--sun-two);
	}
	100% {
		fill: var(--sun-three);
	}
}

.sun {
	-webkit-animation: 3s color-change infinite alternate linear;
	        animation: 3s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
	0% {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	100% {
		-webkit-transform: translate(200px, 50px);
		        transform: translate(200px, 50px);
	}
}

@keyframes cloud-move {
	0% {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	100% {
		-webkit-transform: translate(200px, 50px);
		        transform: translate(200px, 50px);
	}
}

.cloud-front {
	-webkit-animation: 30s cloud-move infinite alternate linear;
	        animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
	0% {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	100% {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

@keyframes cloud-move-reverse {
	0% {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	100% {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

.cloud-back {
	-webkit-animation: 34s cloud-move-reverse infinite alternate linear;
	        animation: 34s cloud-move-reverse infinite alternate linear;
}
